<div class="login-form">
  <a [routerLink]="['/']">
    <img class="logo-image" src="../../assets/images/logo.png" alt="app logo">
  </a>

  <h2 class="login-title">Login</h2>
  <div class="login-form-box" [formGroup]="loginForm">
    <input class="form-box" id="email" placeholder="Email" type="email" formControlName="email">
    <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
      <p class="error-message" *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</p>
      <p class="error-message" *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</p>
    </div>

    <input class="form-box" id="password" placeholder="Password" type="password" formControlName="password">

    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <p class="error-message" *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</p>
    </div>

    <button class="form-button" (click)="loginUser()" [disabled]="loginForm.invalid">
      Login
    </button>
    <div class="already-have-account">
      <p class="already-have-account-text">Don't have an account? </p>
      <a class="already-have-account-text" [routerLink]="['/register']">Register</a>
    </div>

  </div>
</div>

<app-footer class="login-footer"></app-footer>


