<header>
  <div class="left-section">
    <div class="organizations">
      <a routerLink="/organizations" class="header-link">Organizations</a>
    </div>
    <div class="rewards">
      <a routerLink="/rewards" class="header-link">Rewards</a>
    </div>
  </div>
  <div class="center-section">
    <img src="/assets/images/logo.png" alt="Logo" class="logoHeader">
  </div>
  <div class="right-section">
    <div class="myEvents">
      <a routerLink="/my-events" class="header-link">My Events</a>
    </div>
    <div class="icon">
      <img src="/assets/images/loginIcon.png" alt="Login" class="loginIcon">
    </div>
  </div>
</header>
