<div class="detail-event-container">
    <div class="title-container">
        <h1 class="event-title">{{images[2].title}}</h1>
    </div>
    <div class="event-img-container">
        <img class="event-img" src={{images[2].src}}>
    </div>
    <div class="info-container">
        <h2>{{images[2].org}}</h2>
        <h2>Description</h2>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis placerat a diam eu tempus. Aenean ac eros eu nisi commodo pretium. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; </p>
    </div>
    <div class="button-container">
        <button class="form-button">
            Subscribe
        </button>
    </div>
</div>
