<div class="reward-container">

  <div class="reward-photo-column">
    <img class="rounded-circle" src="//placehold.it/200" alt="">
  </div>

  <div class="text-aligment">
    <h4 class="card-title reward-title">{{title}}</h4>
    <p class="card-text card-text-style">{{description}}</p>
  </div>
  <div class="unlock-button-display">
    <button [disabled]=true class="btn unlock-button-style">
      Unlock it!
      <h6 class="no-margin">
        <img class="card-styling-item" src="../../assets/images/iconos/coin.svg">
        {{value}}</h6>
    </button>

  </div>

</div>
