<div class="register-form">
  <a [routerLink]="['/']">
    <img class="logo-image" src="../../assets/images/logo.png" alt="app logo">
  </a>

  <h2 class="register-title">Register</h2>
  <div class="register-form-box" [formGroup]="registerForm">
    <div class="full-name">
      <input class="form-box" id="firstName" placeholder="First Name" type="text" formControlName="firstName">
      <input class="form-box" id="lastName" placeholder="Last Name" type="text" formControlName="lastName">
    </div>
    <div *ngIf="registerForm.get('firstName')?.invalid && registerForm.get('firstName')?.touched">
      <p class="error-message">First Name is required</p>
    </div>
    <div *ngIf="registerForm.get('lastName')?.invalid && registerForm.get('lastName')?.touched">
      <p class="error-message">Last Name is required</p>
    </div>
    <input class="form-box" id="email" placeholder="Email" type="email" formControlName="email">
    <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
      <p class="error-message" *ngIf="registerForm.get('email')?.errors?.['required']">Email is required</p>
      <p class="error-message" *ngIf="registerForm.get('email')?.errors?.['email']">Invalid email format</p>
    </div>
    <input class="form-box" id="password" placeholder="Password" type="password" formControlName="password">
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      <p class="error-message" *ngIf="registerForm.get('password')?.errors?.['required']">Password is required</p>
      <p class="error-message" *ngIf="registerForm.get('password')?.errors?.['minlength']">Password should be at least 6
        characters long</p>
    </div>
    <input class="form-box" id="passwordRepeat" placeholder="Repeat password" type="password"
           formControlName="repeatPassword">
    <div *ngIf="registerForm.get('repeatPassword')?.invalid && registerForm.get('repeatPassword')?.touched">
      <p class="error-message" *ngIf="registerForm.get('repeatPassword')?.errors?.['required']">Repeat Password is
        required</p>
      <p class="error-message" *ngIf="registerForm.hasError('passwordMismatch')">Passwords do not match</p>
    </div>
    <div class="term-of-use-checkbox">
      <input id="termOfUseCheckbox" type="checkbox" formControlName="acceptTerms">
      <p class="term-of-use-text">I accept </p>
      <a class="term-of-use-text" href="">Term of Use</a>
    </div>
    <div *ngIf="registerForm.get('acceptTerms')?.invalid && registerForm.get('acceptTerms')?.touched">
      <p class="error-message">You must accept the Terms of Use</p>
    </div>

    <div class="already-have-account">
      <p class="already-have-account-text">Already have an account? </p>
      <a class="already-have-account-text" [routerLink]="['/login']">Login</a>
    </div>


    <button class="form-button" (click)="registerUser()" [disabled]="registerForm.invalid">
      Register
    </button>

  </div>
</div>

<app-footer></app-footer>


