@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.card-container{
  display: block;
  flex-direction: row;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), inset 0 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  justify-content: space-around;
  margin-top: 8rem;
  margin-left: 13rem;
  margin-right: 13rem;
  margin-bottom: 8rem;
}

.informationText{
  display: block;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.numberError{
  color: #583E29;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 5rem;
}

.informationError{
  color: #583E29;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 2.5rem;
}
