
/* 
@font-face {
    font-family: "Poppins-Black";
    src:local("../../assets/font/Poppins/Poppins-Black.ttf");
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

  .body{
    margin: 5px;
  }
  .container-2{
    display: flex;
    justify-content: space-around;
    height: 45px;
  }

  .container-2-1{
    display: flex;
    width: 150px;    
  }
 

  .buttonJoinUs{
    font-family: 'Poppins', sans-serif;
    background-color: #5EA391;
    color:white;
    border: none;
    border-radius: 10px;
    width: 100%;
    
  }

  /* What we do Paragraph */

  .wwdtext{
    display: flex;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

  }

  .section-headers{
/*     
    font-family: "Poopins-Black"; */
    
    font-family: 'Poppins', sans-serif;
    text-decoration-line: underline;
    text-decoration-color: #583E29;
    font-weight: 400;
  }