

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

  .body{
    margin: 15px;
  }
  .padding{
    padding-top: 5px;
    padding-bottom: 5px;
  }

  /*  */
  .container-2{
    display: flex;
    justify-content: space-around;
    height: 45px;
  }

  .container-2-1{
    display: flex;
    width: 150px;
  }


  .buttonJoinUs{
    font-family: 'Poppins', sans-serif;
    background-color: #5EA391;
    color:white;
    border: none;
    border-radius: 10px;
    width: 100%;
  }

  .container-button-arrow-down{
    display: flex;
    justify-content: center;
  }
  .button-arrow-down{
    height: max-content;
  }
  .arrow-down-icon{

    padding-top: 1rem;
    padding-bottom: 1rem;


  }

  /* What we do Paragraph */

  .wwdtext{
    display: flex;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

  }

  .section-headers{

    font-family: 'Poppins', sans-serif;
    text-decoration-line: underline;
    text-decoration-color: #583E29;
    font-weight: 400;
  }

  /* Our Partners section */
  .partner-card{
    width: 14rem;
    height: 6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 10px;
  }

  .container-3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  /* Carousel */
  .carousel-container{
    margin-bottom: 30px;
  }

  .picsum-img-wrapper > img {
    height: 70vh;
    object-fit: cover;
    width: 100%;
  }
  .carousel-caption > h3{
    color: #FFFFFF;
    text-shadow: 2px 2px #583E29;

  }

.carousel-section{
  position: relative;
}
.carousel-header-section{
  position: absolute;
  top: 0;
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.carousel-header-section > a {
  margin-right: 20px;
}
.carousel-header-section > a > p {
  font-weight: 400;
  text-shadow: 1px 1px #5EA391;
}

  .join-us-section{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
