<div class="reward-container">

    <div class="reward-photo-column">
        <img class="rounded-circle" src="{{photo}}" alt="">
    </div>

    <div class="text-aligment">
        <h4 class="card-title reward-title">{{title}}</h4>
        <p class="card-text">{{description}}</p>
    </div>
    <div class="unlock-button-display">
        <a (click)="changeLinkText(); hideElement()" class="btn btn-primary unlock-button-style">
          {{ linkText }}
          <h6 *ngIf="isVisible" class="no-margin">
            <img class="card-styling-item" src="../../assets/images/iconos/coin.svg">
            {{value}}
          </h6>
        </a>

    </div>



</div>
