<div class="search-bar">
  <input class="form-box" id="searchText" placeholder="Search..." type="text" [(ngModel)]="searchTerm" (input)="searchFilter()">
  <img src="../../assets/images/search.png" alt="search icon">
</div>

<div class="events-container">

  <div *ngFor="let event of eventsFiltered">

    <app-event-card [title]="event.data()['title']" [description]="event.data()['description']"
                    [organizationName]="event.data()['organizationName']" [reward]="event.data()['reward']"
                    [date]="event.data()['date']"></app-event-card>

  </div>

</div>


<app-footer></app-footer>
