@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.body{
    padding-left: 5%;
    padding-right: 5%;
}

.section-title{
    font-family: 'Poppins', sans-serif;
    color: #583E29;

}